/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #2D2A32;

$burgundy: #51171D;


/* Typography
----------------------------------*/
$brandon: brandon-grotesque, sans-serif;

